html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.home {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* 추가: 요소 크기를 조정하기 위한 박스 모델 설정 */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0); /* 투명하게 설정 */
    z-index: 10;
    box-sizing: border-box; /* 추가: 패딩이 요소 크기에 포함되도록 설정 */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.navbar-left h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.navbar-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #00CED1; /* 청록색 */
    font-size: 18px;
}

.navbar-right a:hover {
    color: #FFD700;
}

.header-image-container {
    position: relative;
    width: 100vw;
    height: 120vh; /* 높이 조정 */
    overflow: hidden;
    transition: transform 0.5s ease, height 0.5s ease;
    z-index: 1;
}

.header-image-container.scaled {
    transform: scale(1.2);
    height: 130vh; /* 스크롤 시 확대된 높이 */
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.content {
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    z-index: 1;
    box-sizing: border-box;
}

.scroll-text {
    margin-top: 45px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}

.scroll-text p {
    margin: 10px 0;
}

.scroll-text .Welcome {
    font-size: 36px;
    font-weight: bold;
    color: #00CED1;
    margin-bottom: 40px;
}

.scroll-text .brainworks {
    color: #FFD700;
    font-weight: bold;
}

.scroll-text .brainworks img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.scroll-text .small-text {
    margin-top: 50px;
    font-size: 14px;
}

.scroll-text .alzheimers {
    color: #00CED1;
    font-weight: bold;
}

.login-button {
    margin-top: 5px;
    padding: 15px 25px;
    background-color: #00CED1;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.login-button:hover {
    background-color: #FFD700;
}
