/* Loading.css */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000 !important;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.loading-text {
    margin-bottom: 10px;
    color: #ffffff;
}

.patient-name {
    font-weight: bold;
    color: #00CED1;
}

.file-name {
    font-weight: bold;
    color: #FF4500;
}

.loading-percentage {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
