/* src/components/Onboarding.css */
.onboarding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
}

canvas {
    margin-top: 20px;
}

.main-content {
    color: white;
    text-align: center;
    padding: 20px;
}
