@font-face {
    font-family: 'Aileron';
    src: url('./Aileron-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./Aileron-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('./Aileron-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
